<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='post.css') }}">
    
</head>
<body>
    <a class="top-right" href="/logout">Logout</a>
    <h3>Welcome Page</h3>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <p style="text-align: center;">{{ message }}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <h3>Posts</h3>
<a href="/create_post">Create Post</a>
    {% if posts %}
            <div>
                {% for post in posts %}
                    <h3>{{post.id}}</h3>
                    <div class="post">
                        <div>
                            {% if post.user.last_seen and (current_utc - post.user.last_seen.replace(tzinfo=timezone.utc)).total_seconds() < 300 %}
                                <div class="active-dot"></div>
                            {% else %}
                                <div class="inactive-dot"></div>
                            {% endif %}
                            <strong>{{ post.user.full_name }}</strong> {{ post.post_date|format_date }}
                        </div>
                        <div>{{ post.post }}</div>
                        {% if post.images %}
                        <img src="{{ url_for('static', filename='images/' ~ post.images) }}" alt="Post Image" style="max-width:200px;">
                        {% endif %}
                        <br>
                        <a href="{{ url_for('post_likes', post_id=post.id) }}">View Likes</a>
                        <br>
                        <br>
                        <a href="{{ url_for('comments', post_id=post.id) }}">View Comments</a>
                        <br>
                        <form action="{{ url_for('post_like', post_id=post.id) }}" method="post" style="display:inline;">
                                <button type="submit">Like</button>
                        </form>
                        
                        <form action="/delete_post" method="POST">
                            <input type="hidden" name="post_id" value="{{post.id}}">
                            <button type="submit">Delete Post</button>
                        </form>
                        
                        <div class="comment1">
                            <form action="/comment" method="POST">
                                <input type="hidden" name="post_id" value="{{ post.id }}">
                                <textarea name="comment" rows="2" cols="50" placeholder="Comment..."></textarea>
                                <input type="submit" value="Comment">
                            </form>
                        </div>
                    </div> 
                {% endfor %}
            </div>
    {% else %}
        <p>No posts available.</p>
    {% endif %}

</body>
</html>